<h1> Superstore Sales Analysis and Data Visualization


<h4>Note: This file includes EDA, Data Cleaning and solving few business case questions in Pandas and SQL.
    
<h4>Tableau Dashbaord link:     <h4><a>https://public.tableau.com/app/profile/aster.yu4891/viz/SalesAnalysisDashboard_17317838981090/viz</a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_org = pd.read_csv('superstore_sales_dataset.csv')
df_org

,Unnamed: 0,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,...,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales,test,cumulative_value,Time_Shipped
0,0,1,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,True,2.619600e+02,3
1,1,2,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,True,9.939000e+02,3
2,2,3,CA-2017-138688,2017-06-12,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,True,1.008520e+03,4
3,3,4,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,True,1.966098e+03,7
4,4,5,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold N Roll Cart System,22.3680,True,1.988466e+03,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9794,9795,9796,CA-2017-125920,2017-05-21,2017-05-28,Standard Class,SH-19975,Sally Hughsby,Corporate,United States,...,60610.0,Central,OFF-BI-10003429,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.7980,True,2.260973e+06,7
9795,9796,9797,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,...,43615.0,East,OFF-AR-10001374,Office Supplies,Art,"BIC Brite Liner Highlighters, Chisel Tip",10.3680,True,2.260983e+06,5
9796,9797,9798,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,...,43615.0,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.1880,True,2.261219e+06,5
9797,9798,9799,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,...,43615.0,East,TEC-PH-10000912,Technology,Phones,Anker 24W Portable Micro USB Car Charger,26.3760,True,2.261245e+06,5
9798,9799,9800,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,...,43615.0,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.3840,True,2.261255e+06,5

<H1> EDA for Superstore Sales Dataset

In [3]:
df_org.columns

Index(['Unnamed: 0', 'Row_ID', 'Order_ID', 'Order_Date', 'Ship_Date',
       'Ship_Mode', 'Customer_ID', 'Customer_Name', 'Segment', 'Country',
       'City', 'State', 'Postal_Code', 'Region', 'Product_ID', 'Category',
       'Sub_Category', 'Product_Name', 'Sales', 'test', 'cumulative_value',
       'Time_Shipped'],
      dtype='object')

<h3>Changing DataTypes

In [4]:
df_org.dtypes

Unnamed: 0            int64
Row_ID                int64
Order_ID             object
Order_Date           object
Ship_Date            object
Ship_Mode            object
Customer_ID          object
Customer_Name        object
Segment              object
Country              object
City                 object
State                object
Postal_Code         float64
Region               object
Product_ID           object
Category             object
Sub_Category         object
Product_Name         object
Sales               float64
test                   bool
cumulative_value    float64
Time_Shipped          int64
dtype: object

In [5]:
df_org[['Order_Date", "Ship_Date']]

      Order_Date   Ship_Date
0     2017-11-08  2017-11-11
1     2017-11-08  2017-11-11
2     2017-06-12  2017-06-16
3     2016-10-11  2016-10-18
4     2016-10-11  2016-10-18
...          ...         ...
9794  2017-05-21  2017-05-28
9795  2016-01-12  2016-01-17
9796  2016-01-12  2016-01-17
9797  2016-01-12  2016-01-17
9798  2016-01-12  2016-01-17

[9799 rows x 2 columns]

In [6]:
df_org['Order_Date'] = pd.to_datetime(df_org['Order_Date'])
df_org['Order_Date'] = df_org['Order_Date'].dt.strftime('%d-%m-%y')
df_org['Order_Date'] = pd.to_datetime(df_org['Order_Date'])


df_org['Ship_Date'] = pd.to_datetime(df_org['Ship_Date'])
df_org['Ship_Date'] = df_org['Ship_Date'].dt.strftime('%d-%m-%y')
df_org['Ship_Date'] = pd.to_datetime(df_org['Ship_Date'])

df_org.dtypes
df_org[['Order_Date', 'Ship_Date']]

     Order_Date  Ship_Date
0    2017-08-11 2017-11-11
1    2017-08-11 2017-11-11
2    2017-12-06 2017-06-16
3    2016-11-10 2016-10-18
4    2016-11-10 2016-10-18
...         ...        ...
9794 2017-05-21 2017-05-28
9795 2016-12-01 2016-01-17
9796 2016-12-01 2016-01-17
9797 2016-12-01 2016-01-17
9798 2016-12-01 2016-01-17

[9799 rows x 2 columns]

In [7]:
change_type = ({'Postal_Code':str})
df_org = df_org.astype(change_type)
df_org.dtypes

Unnamed: 0                   int64
Row_ID                       int64
Order_ID                    object
Order_Date          datetime64[ns]
Ship_Date           datetime64[ns]
Ship_Mode                   object
Customer_ID                 object
Customer_Name               object
Segment                     object
Country                     object
City                        object
State                       object
Postal_Code                 object
Region                      object
Product_ID                  object
Category                    object
Sub_Category                object
Product_Name                object
Sales                      float64
test                          bool
cumulative_value           float64
Time_Shipped                 int64
dtype: object

<h3>Handling Duplicates

In [8]:
duplicate = df_org[df_org.duplicated(subset=df_org.columns.difference(['Row_ID']))]
duplicate

Empty DataFrame
Columns: [Unnamed: 0, Row_ID, Order_ID, Order_Date, Ship_Date, Ship_Mode, Customer_ID, Customer_Name, Segment, Country, City, State, Postal_Code, Region, Product_ID, Category, Sub_Category, Product_Name, Sales, test, cumulative_value, Time_Shipped]
Index: []

[0 rows x 22 columns]

In [9]:
df1 = df_org.drop_duplicates(subset=df_org.columns.difference(['Row_ID']))
df1

,Unnamed: 0,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,...,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales,test,cumulative_value,Time_Shipped
0,0,1,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,True,2.619600e+02,3
1,1,2,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,True,9.939000e+02,3
2,2,3,CA-2017-138688,2017-12-06,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,True,1.008520e+03,4
3,3,4,US-2016-108966,2016-11-10,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,True,1.966098e+03,7
4,4,5,US-2016-108966,2016-11-10,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold N Roll Cart System,22.3680,True,1.988466e+03,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9794,9795,9796,CA-2017-125920,2017-05-21,2017-05-28,Standard Class,SH-19975,Sally Hughsby,Corporate,United States,...,60610.0,Central,OFF-BI-10003429,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.7980,True,2.260973e+06,7
9795,9796,9797,CA-2016-128608,2016-12-01,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,...,43615.0,East,OFF-AR-10001374,Office Supplies,Art,"BIC Brite Liner Highlighters, Chisel Tip",10.3680,True,2.260983e+06,5
9796,9797,9798,CA-2016-128608,2016-12-01,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,...,43615.0,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.1880,True,2.261219e+06,5
9797,9798,9799,CA-2016-128608,2016-12-01,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,...,43615.0,East,TEC-PH-10000912,Technology,Phones,Anker 24W Portable Micro USB Car Charger,26.3760,True,2.261245e+06,5
9798,9799,9800,CA-2016-128608,2016-12-01,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,...,43615.0,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.3840,True,2.261255e+06,5

<h3> Handling NaN values

In [10]:
df1.isnull().sum()

Unnamed: 0          0
Row_ID              0
Order_ID            0
Order_Date          0
Ship_Date           0
Ship_Mode           0
Customer_ID         0
Customer_Name       0
Segment             0
Country             0
City                0
State               0
Postal_Code         0
Region              0
Product_ID          0
Category            0
Sub_Category        0
Product_Name        0
Sales               0
test                0
cumulative_value    0
Time_Shipped        0
dtype: int64

In [11]:
postal_series = pd.isnull(df1['Postal_Code'])   # Create a series with a particular column 
df1[postal_series]

Empty DataFrame
Columns: [Unnamed: 0, Row_ID, Order_ID, Order_Date, Ship_Date, Ship_Mode, Customer_ID, Customer_Name, Segment, Country, City, State, Postal_Code, Region, Product_ID, Category, Sub_Category, Product_Name, Sales, test, cumulative_value, Time_Shipped]
Index: []

[0 rows x 22 columns]

In [12]:
df2 = df1.dropna(axis=0, how='any')
df2

,Unnamed: 0,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,...,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales,test,cumulative_value,Time_Shipped
0,0,1,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,True,2.619600e+02,3
1,1,2,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,True,9.939000e+02,3
2,2,3,CA-2017-138688,2017-12-06,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,True,1.008520e+03,4
3,3,4,US-2016-108966,2016-11-10,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,True,1.966098e+03,7
4,4,5,US-2016-108966,2016-11-10,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold N Roll Cart System,22.3680,True,1.988466e+03,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9794,9795,9796,CA-2017-125920,2017-05-21,2017-05-28,Standard Class,SH-19975,Sally Hughsby,Corporate,United States,...,60610.0,Central,OFF-BI-10003429,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.7980,True,2.260973e+06,7
9795,9796,9797,CA-2016-128608,2016-12-01,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,...,43615.0,East,OFF-AR-10001374,Office Supplies,Art,"BIC Brite Liner Highlighters, Chisel Tip",10.3680,True,2.260983e+06,5
9796,9797,9798,CA-2016-128608,2016-12-01,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,...,43615.0,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.1880,True,2.261219e+06,5
9797,9798,9799,CA-2016-128608,2016-12-01,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,...,43615.0,East,TEC-PH-10000912,Technology,Phones,Anker 24W Portable Micro USB Car Charger,26.3760,True,2.261245e+06,5
9798,9799,9800,CA-2016-128608,2016-12-01,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,...,43615.0,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.3840,True,2.261255e+06,5

In [13]:
df2.isnull().sum()

Unnamed: 0          0
Row_ID              0
Order_ID            0
Order_Date          0
Ship_Date           0
Ship_Mode           0
Customer_ID         0
Customer_Name       0
Segment             0
Country             0
City                0
State               0
Postal_Code         0
Region              0
Product_ID          0
Category            0
Sub_Category        0
Product_Name        0
Sales               0
test                0
cumulative_value    0
Time_Shipped        0
dtype: int64

In [14]:
df2

,Unnamed: 0,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,...,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales,test,cumulative_value,Time_Shipped
0,0,1,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,True,2.619600e+02,3
1,1,2,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,True,9.939000e+02,3
2,2,3,CA-2017-138688,2017-12-06,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,True,1.008520e+03,4
3,3,4,US-2016-108966,2016-11-10,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,True,1.966098e+03,7
4,4,5,US-2016-108966,2016-11-10,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold N Roll Cart System,22.3680,True,1.988466e+03,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9794,9795,9796,CA-2017-125920,2017-05-21,2017-05-28,Standard Class,SH-19975,Sally Hughsby,Corporate,United States,...,60610.0,Central,OFF-BI-10003429,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.7980,True,2.260973e+06,7
9795,9796,9797,CA-2016-128608,2016-12-01,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,...,43615.0,East,OFF-AR-10001374,Office Supplies,Art,"BIC Brite Liner Highlighters, Chisel Tip",10.3680,True,2.260983e+06,5
9796,9797,9798,CA-2016-128608,2016-12-01,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,...,43615.0,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.1880,True,2.261219e+06,5
9797,9798,9799,CA-2016-128608,2016-12-01,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,...,43615.0,East,TEC-PH-10000912,Technology,Phones,Anker 24W Portable Micro USB Car Charger,26.3760,True,2.261245e+06,5
9798,9799,9800,CA-2016-128608,2016-12-01,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,...,43615.0,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.3840,True,2.261255e+06,5

<h3> Checking Irrevelant Data

In [15]:
# Remove any irrevalant values in the rows - can be done by checking unique values from each column 
column_values = df2['Region'].values  
test = np.unique(column_values)
print(test)

['Central' 'East' 'South' 'West']

<h3> Checking the condition - For each entry in dataset ship date >= order date)

In [16]:
df_test = df2
df_test

,Unnamed: 0,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,...,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales,test,cumulative_value,Time_Shipped
0,0,1,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,True,2.619600e+02,3
1,1,2,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,True,9.939000e+02,3
2,2,3,CA-2017-138688,2017-12-06,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,True,1.008520e+03,4
3,3,4,US-2016-108966,2016-11-10,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,True,1.966098e+03,7
4,4,5,US-2016-108966,2016-11-10,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold N Roll Cart System,22.3680,True,1.988466e+03,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9794,9795,9796,CA-2017-125920,2017-05-21,2017-05-28,Standard Class,SH-19975,Sally Hughsby,Corporate,United States,...,60610.0,Central,OFF-BI-10003429,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.7980,True,2.260973e+06,7
9795,9796,9797,CA-2016-128608,2016-12-01,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,...,43615.0,East,OFF-AR-10001374,Office Supplies,Art,"BIC Brite Liner Highlighters, Chisel Tip",10.3680,True,2.260983e+06,5
9796,9797,9798,CA-2016-128608,2016-12-01,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,...,43615.0,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.1880,True,2.261219e+06,5
9797,9798,9799,CA-2016-128608,2016-12-01,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,...,43615.0,East,TEC-PH-10000912,Technology,Phones,Anker 24W Portable Micro USB Car Charger,26.3760,True,2.261245e+06,5
9798,9799,9800,CA-2016-128608,2016-12-01,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,...,43615.0,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.3840,True,2.261255e+06,5

In [17]:
df_test['test'] = df_test['Ship_Date'] >= df_test['Order_Date']
df_test

,Unnamed: 0,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,...,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales,test,cumulative_value,Time_Shipped
0,0,1,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,True,2.619600e+02,3
1,1,2,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,True,9.939000e+02,3
2,2,3,CA-2017-138688,2017-12-06,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,False,1.008520e+03,4
3,3,4,US-2016-108966,2016-11-10,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,False,1.966098e+03,7
4,4,5,US-2016-108966,2016-11-10,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold N Roll Cart System,22.3680,False,1.988466e+03,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9794,9795,9796,CA-2017-125920,2017-05-21,2017-05-28,Standard Class,SH-19975,Sally Hughsby,Corporate,United States,...,60610.0,Central,OFF-BI-10003429,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.7980,True,2.260973e+06,7
9795,9796,9797,CA-2016-128608,2016-12-01,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,...,43615.0,East,OFF-AR-10001374,Office Supplies,Art,"BIC Brite Liner Highlighters, Chisel Tip",10.3680,False,2.260983e+06,5
9796,9797,9798,CA-2016-128608,2016-12-01,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,...,43615.0,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.1880,False,2.261219e+06,5
9797,9798,9799,CA-2016-128608,2016-12-01,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,...,43615.0,East,TEC-PH-10000912,Technology,Phones,Anker 24W Portable Micro USB Car Charger,26.3760,False,2.261245e+06,5
9798,9799,9800,CA-2016-128608,2016-12-01,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,...,43615.0,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.3840,False,2.261255e+06,5

In [18]:
column_values = df_test['test'].values 
test1 = np.unique(column_values)
test1

array([False,  True])

<h3> Preparing to run SQL Queries using Pandas

<h5> we need "Pandsql", it allows you to query pandas DataFrames using SQL syntax

In [19]:
pip install pandasql

Requirement already satisfied: pandasql in /Users/iris/opt/anaconda3/lib/python3.8/site-packages (0.7.3)
Requirement already satisfied: sqlalchemy in /Users/iris/opt/anaconda3/lib/python3.8/site-packages (from pandasql) (1.3.20)
Requirement already satisfied: numpy in /Users/iris/opt/anaconda3/lib/python3.8/site-packages (from pandasql) (1.23.5)
Requirement already satisfied: pandas in /Users/iris/opt/anaconda3/lib/python3.8/site-packages (from pandasql) (1.1.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/iris/opt/anaconda3/lib/python3.8/site-packages (from pandas->pandasql) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /Users/iris/opt/anaconda3/lib/python3.8/site-packages (from pandas->pandasql) (2020.1)
Requirement already satisfied: six>=1.5 in /Users/iris/opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)

[notice] A new release of pip is available: 23.0.1 -> 24.3.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [20]:
from pandasql import sqldf

In [21]:
!pip install -U pandasql

Requirement already satisfied: pandasql in /Users/iris/opt/anaconda3/lib/python3.8/site-packages (0.7.3)
Requirement already satisfied: numpy in /Users/iris/opt/anaconda3/lib/python3.8/site-packages (from pandasql) (1.23.5)
Requirement already satisfied: pandas in /Users/iris/opt/anaconda3/lib/python3.8/site-packages (from pandasql) (1.1.3)
Requirement already satisfied: sqlalchemy in /Users/iris/opt/anaconda3/lib/python3.8/site-packages (from pandasql) (1.3.20)
Requirement already satisfied: pytz>=2017.2 in /Users/iris/opt/anaconda3/lib/python3.8/site-packages (from pandas->pandasql) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/iris/opt/anaconda3/lib/python3.8/site-packages (from pandas->pandasql) (2.8.1)
Requirement already satisfied: six>=1.5 in /Users/iris/opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)

[notice] A new release of pip is available: 23.0.1 -> 24.3.1
[notice] To update, run: pip install --upgrade pip

In [22]:
print(sqldf(''' SELECT Order_Date, Ship_Date FROM df2 LIMIT 5 '''))

                   Order_Date                   Ship_Date
0  2017-08-11 00:00:00.000000  2017-11-11 00:00:00.000000
1  2017-08-11 00:00:00.000000  2017-11-11 00:00:00.000000
2  2017-12-06 00:00:00.000000  2017-06-16 00:00:00.000000
3  2016-11-10 00:00:00.000000  2016-10-18 00:00:00.000000
4  2016-11-10 00:00:00.000000  2016-10-18 00:00:00.000000

<h3>1. Percentage of total orders shipped on the same date.

In [23]:
print(sqldf(''' SELECT COUNT(*) as total_orders,
                SUM(CASE WHEN Order_Date = Ship_Date then 1 else 0 END) AS shipped_same_date,
                cast(sum(case when Order_Date = Ship_Date then 1 else 0 END) as float(1,2)) / 
                cast(count(*) as float(1,2)) * cast(100 as float(1,2)) as perCE
                from df2
            '''))

   total_orders  shipped_same_date     perCE
0          9799                514  5.245433

In [24]:
total = df2.Order_ID.count()

shipped_same_date = df2[df2['Order_Date'] == df2['Ship_Date']].shape[0]  

percentage_shipped_same_date = (shipped_same_date / total) * 100

percentage_shipped_same_date

5.24543320747015

<h3>2. Top 3 customers with highest total value of orders.

In [25]:
print(sqldf('''SELECT Customer_id, Customer_Name, sum(Sales)
               from df2
               group by Customer_ID, Customer_Name
               order by sum(sales) desc
               limit 3
            '''))

  Customer_ID Customer_Name  sum(Sales)
0    SM-20320   Sean Miller   25043.050
1    TC-20980  Tamara Chand   19052.218
2    RB-19360  Raymond Buch   15117.339

In [26]:
top = df2.groupby('Customer_Name')['Sales'].sum().nlargest(3)
top

Customer_Name
Sean Miller     25043.050
Tamara Chand    19052.218
Raymond Buch    15117.339
Name: Sales, dtype: float64

<h3>3. Top 5 items with the highest average sales per day.

In [27]:
print(sqldf('''SELECT Product_Name, sum(Sales)/count(distinct order_date) , Order_Date
               from df2
               group by Product_Name, Order_Date
               order by AVG(Sales) desc
               limit 5
               '''))

                                        Product_Name  \
0  Cisco TelePresence System EX90 Videoconferenci...
1              Canon imageCLASS 2200 Advanced Copier
2              Canon imageCLASS 2200 Advanced Copier
3              Canon imageCLASS 2200 Advanced Copier
4              Canon imageCLASS 2200 Advanced Copier

   sum(Sales)/count(distinct order_date)                  Order_Date
0                              22638.480  2015-03-18 00:00:00.000000
1                              17499.950  2017-02-10 00:00:00.000000
2                              13999.960  2018-03-23 00:00:00.000000
3                              11199.968  2018-10-22 00:00:00.000000
4                              10499.970  2018-11-17 00:00:00.000000

In [28]:
top5 = df2.groupby(['Product_Name','Order_Date'])['Sales'].mean().nlargest(5)
top5

Product_Name                                           Order_Date
Cisco TelePresence System EX90 Videoconferencing Unit  2015-03-18    22638.480
Canon imageCLASS 2200 Advanced Copier                  2017-02-10    17499.950
                                                       2018-03-23    13999.960
                                                       2018-10-22    11199.968
                                                       2018-11-17    10499.970
Name: Sales, dtype: float64

<h3>4. Average order value for each customer and the rank of customers by their average order value.

In [29]:
print(sqldf('''select Customer_ID, Customer_Name,
               avg(sales) as cus_avg_order_value,
               RANK() OVER(ORDER BY avg(sales) desc) as Customer_Rank
               from df2
               group by Customer_ID, Customer_Name
            '''))

    Customer_ID     Customer_Name  cus_avg_order_value  Customer_Rank
0      MW-18235  Mitch Willingham          1751.292000              1
1      SM-20320       Sean Miller          1669.536667              2
2      TC-20980      Tamara Chand          1587.684833              3
3      GT-14635    Grant Thornton          1558.535333              4
4      TA-21385      Tom Ashbrook          1459.562000              5
..          ...               ...                  ...            ...
788    SG-20890    Susan Gilcrest             9.589200            789
789    MG-18205   Mitch Gastineau             8.369500            790
790    RS-19870        Roy Skaria             7.442667            791
791    LD-16855      Lela Donovan             5.304000            792
792    TS-21085     Thais Sissman             2.416500            793

[793 rows x 4 columns]

In [30]:
avg_value = df2.groupby(['Customer_ID', 'Customer_Name'])['Sales'].mean().sort_values(ascending=False).rank(ascending=False, method='min')
avg_value

Customer_ID  Customer_Name
MW-18235     Mitch Willingham      1.0
SM-20320     Sean Miller           2.0
TC-20980     Tamara Chand          3.0
GT-14635     Grant Thornton        4.0
TA-21385     Tom Ashbrook          5.0
                                 ...
SG-20890     Susan Gilcrest      789.0
MG-18205     Mitch Gastineau     790.0
RS-19870     Roy Skaria          791.0
LD-16855     Lela Donovan        792.0
TS-21085     Thais Sissman       793.0
Name: Sales, Length: 793, dtype: float64

<h3>5. Names of customers who ordered highest and lowest orders from each city.

In [31]:
print(sqldf('''With max_value as(
               Select customer_name as high_value_customer,
               city,
               max(Sales) as high_order_value
               from df2
               group by City),
               
               min_value as(
               Select customer_name as low_value_customer,
               city,
               min(Sales) as low_order_value
               from df2
               group by City)
               
               select high_value_customer, high_order_value, low_value_customer, low_order_value, max_value.city
               from max_value
               inner join
               min_value
               on max_value.city = min_value.city

'''))

    high_value_customer  high_order_value low_value_customer  low_order_value  \
0       Jeremy Lonsdale            25.500    Jeremy Lonsdale           25.500
1           Dennis Kane             1.392        Dennis Kane            1.392
2            Ed Braxton           665.408         Karl Braun            2.286
3     Michelle Lonsdale           595.000    Susan Vittorini            4.280
4          Greg Maxwell          4164.050    Shirley Daniels           12.420
..                  ...               ...                ...              ...
524         Andy Reiter            52.960          Don Jones           45.360
525       Karen Daniels          4899.930        Nathan Cano           10.896
526       Theresa Swint           422.058        Noah Childs           37.896
527       Odella Nelson            50.800      Odella Nelson           50.800
528         Gary Hansen           599.985       Dario Medina           10.496

            city
0       Aberdeen
1        Abilene
2          Akron
3    Albuquerque
4     Alexandria
..           ...
524   Woonsocket
525      Yonkers
526         York
527      Yucaipa
528         Yuma

[529 rows x 5 columns]

In [32]:
df2['City'].unique().shape[0]

529

In [33]:
high_low_orders = df2.groupby(['City'])['Sales'].agg([max,min])

# Merge with the original df to get the corresponding customer names
result = df2.merge(high_low_orders, on='City')

# Filter rows with the maximum and minimum order values for each city
highest_customers = result[result['Sales'] == result['max']]
lowest_customers = result[result['Sales'] == result['min']]

# Select the columns containing customer names and order values for the highest and lowest orders
highest_customers = highest_customers[['City', 'Customer_Name', 'max']]
lowest_customers = lowest_customers[['City', 'Customer_Name', 'min']]

# Merge both DataFrames on 'City' to combine the information
result = highest_customers.merge(lowest_customers, on='City', suffixes=('_HighOrder','_LowOrder')).sort_values('City')
result

,City,Customer_Name_HighOrder,max,Customer_Name_LowOrder,min
520,Aberdeen,Jeremy Lonsdale,25.500,Jeremy Lonsdale,25.500
488,Abilene,Dennis Kane,1.392,Dennis Kane,1.392
59,Akron,Ed Braxton,665.408,Karl Braun,2.286
305,Albuquerque,Michelle Lonsdale,595.000,Susan Vittorini,4.280
166,Alexandria,Greg Maxwell,4164.050,Shirley Daniels,12.420
...,...,...,...,...,...
383,Woonsocket,Andy Reiter,52.960,Don Jones,45.360
181,Yonkers,Karen Daniels,4899.930,Nathan Cano,10.896
283,York,Theresa Swint,422.058,Noah Childs,37.896
358,Yucaipa,Odella Nelson,50.800,Odella Nelson,50.800
420,Yuma,Gary Hansen,599.985,Dario Medina,10.496

<h3>6. The most demanded sub-category in the west region.

In [34]:
print(sqldf('''SELECT Sub_Category, sum(Sales) as total_sales
               from df2
               where Region = 'West'
               group by Sub_Category
               order by sum(Sales) desc
               limit 1
            '''))

  Sub_Category  total_sales
0       Chairs     100023.2

In [35]:
#first filter out "west" region and then group by sub_Cat
sub_cat = df2[df2['Region'] == 'West'].groupby('Sub_Category')['Sales'].sum().nlargest(1)
sub_cat

Sub_Category
Chairs    100023.2
Name: Sales, dtype: float64

<h3>7. The segment’s order that is more likely to be shipped via first class.

In [38]:
print(sqldf('''Select Segment, Ship_Mode, count(Order_ID) as num_items
               from df2
               where Ship_Mode = "First Class"
               group by Segment, Ship_mode
               Order by num_items desc
            '''))

       Segment    Ship_Mode  num_items
0     Consumer  First Class        755
1    Corporate  First Class        468
2  Home Office  First Class        278

In [39]:
seg_firstclass = df2[df2['Ship_Mode'] == 'First Class'].groupby(['Segment','Ship_Mode'])['Order_ID'].count()
seg_firstclass

Segment      Ship_Mode
Consumer     First Class    755
Corporate    First Class    468
Home Office  First Class    278
Name: Order_ID, dtype: int64

<h3>8. The city with the least contributing to total revenue.

In [40]:
print(sqldf('''Select City, sum(Sales) as Total_Sales
               from df2
               group by City
               Order by Total_Sales asc
               limit 1
            '''))

      City  Total_Sales
0  Abilene        1.392

In [41]:
city_leastRevenue = df2.groupby(['City'])['Sales'].sum().sort_values(ascending = True).min()
city_leastRevenue

1.392

<h3>9. Segment places with the highest number of orders from each state and segment places with the largest individual orders from each state.

In [42]:
# Which segment places the highest number of orders from each state
print(sqldf('''SELECT State, Segment, num_orders 
               from
               (
               SELECT State,Segment,
               count(Order_ID) as num_orders,
               row_number() over(partition by State order by count(Order_ID) desc) as rank_num
               from df2
               group by State, Segment
               )
               where rank_num=1
            '''))

                   State      Segment  num_orders
0                Alabama    Corporate          28
1                Arizona     Consumer         109
2               Arkansas     Consumer          37
3             California     Consumer        1020
4               Colorado     Consumer          92
5            Connecticut     Consumer          43
6               Delaware     Consumer          49
7   District of Columbia     Consumer           7
8                Florida     Consumer         179
9                Georgia     Consumer          82
10                 Idaho    Corporate           9
11              Illinois     Consumer         267
12               Indiana     Consumer          72
13                  Iowa    Corporate          10
14                Kansas  Home Office           8
15              Kentucky     Consumer          76
16             Louisiana     Consumer          25
17                 Maine    Corporate           5
18              Maryland     Consumer          46
19         Massachusetts     Consumer          58
20              Michigan     Consumer         130
21             Minnesota     Consumer          51
22           Mississippi     Consumer          28
23              Missouri     Consumer          38
24               Montana  Home Office           9
25              Nebraska     Consumer          19
26                Nevada     Consumer          18
27         New Hampshire  Home Office          12
28            New Jersey     Consumer          50
29            New Mexico     Consumer          15
30              New York     Consumer         632
31        North Carolina     Consumer         140
32          North Dakota     Consumer           5
33                  Ohio     Consumer         252
34              Oklahoma     Consumer          35
35                Oregon     Consumer          65
36          Pennsylvania     Consumer         281
37          Rhode Island    Corporate          21
38        South Carolina     Consumer          22
39          South Dakota    Corporate          10
40             Tennessee     Consumer         100
41                 Texas     Consumer         516
42                  Utah     Consumer          31
43               Vermont    Corporate           5
44              Virginia     Consumer         117
45            Washington     Consumer         275
46         West Virginia  Home Office           3
47             Wisconsin    Corporate          42
48               Wyoming  Home Office           1

In [43]:
# Which segment places the largest individual orders from each state
print(sqldf('''SELECT State, Segment, Order_ID, Sales
                FROM (
                  SELECT
                    State,
                    Segment,
                    Order_ID,
                    Sales,
                    ROW_NUMBER() OVER (PARTITION BY State ORDER BY Sales DESC) AS rank_num
                  FROM
                    df2
                ) 
                WHERE rank_num = 1
            '''))

                   State      Segment        Order_ID      Sales
0                Alabama    Corporate  CA-2017-133711   3040.000
1                Arizona     Consumer  US-2016-128090   1879.960
2               Arkansas     Consumer  CA-2015-152268   1793.980
3             California     Consumer  CA-2015-143917   8187.650
4               Colorado  Home Office  CA-2018-134845   2549.985
5            Connecticut    Corporate  US-2015-117968   1133.350
6               Delaware     Consumer  CA-2018-166709  10499.970
7   District of Columbia     Consumer  CA-2016-124450   1379.920
8                Florida  Home Office  CA-2015-145317  22638.480
9                Georgia     Consumer  CA-2016-145352   6354.950
10                 Idaho    Corporate  CA-2017-116911   1128.390
11              Illinois    Corporate  US-2016-100377   2799.960
12               Indiana    Corporate  CA-2017-118689  17499.950
13                  Iowa  Home Office  CA-2016-153381   1408.100
14                Kansas    Corporate  CA-2018-102155    360.380
15              Kentucky     Consumer  CA-2016-102491   3080.000
16             Louisiana     Consumer  CA-2018-158729   1665.620
17                 Maine    Corporate  CA-2017-164091    437.850
18              Maryland     Consumer  CA-2016-162782   2541.980
19         Massachusetts    Corporate  CA-2015-141313   1737.180
20              Michigan     Consumer  CA-2017-117121   9892.740
21             Minnesota     Consumer  CA-2015-116904   9449.950
22           Mississippi     Consumer  CA-2017-104157   2430.080
23              Missouri    Corporate  US-2016-128587   4899.930
24               Montana  Home Office  CA-2018-127432   2999.950
25              Nebraska     Consumer  CA-2018-160885   2479.960
26                Nevada  Home Office  CA-2017-138478   4535.976
27         New Hampshire  Home Office  US-2016-134558   2249.910
28            New Jersey    Corporate  US-2017-107440   9099.930
29            New Mexico     Consumer  CA-2016-123141    883.840
30              New York  Home Office  CA-2018-127180  11199.968
31        North Carolina    Corporate  US-2018-168116   7999.980
32          North Dakota     Consumer  CA-2018-111332    704.760
33                  Ohio     Consumer  CA-2017-108196   4499.985
34              Oklahoma     Consumer  CA-2018-119452   1805.880
35                Oregon     Consumer  CA-2015-125731   1487.040
36          Pennsylvania     Consumer  CA-2017-143714   8399.976
37          Rhode Island  Home Office  US-2017-140158   5399.910
38        South Carolina     Consumer  CA-2016-158421   1690.040
39          South Dakota    Corporate  CA-2018-122035    416.320
40             Tennessee  Home Office  US-2018-162558   2314.116
41                 Texas     Consumer  CA-2015-139892   8159.952
42                  Utah  Home Office  CA-2017-139997   1499.950
43               Vermont    Corporate  CA-2016-117086   4404.900
44              Virginia     Consumer  CA-2017-158841   8749.950
45            Washington     Consumer  CA-2018-140151  13999.960
46         West Virginia     Consumer  CA-2018-130505    673.344
47             Wisconsin     Consumer  CA-2015-120474   2807.840
48               Wyoming  Home Office  CA-2017-152247   1603.136